<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="static/css/main-min-st.min.css">
</head>
<body>

    <section class="py-0" id="page-coming-soon">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 px-0 order-lg-2 min-vh-50 min-vh-lg-100">
              <div class="position-relative h-100" data-zanim-lg="{&quot;animation&quot;:&quot;slide-left&quot;,&quot;delay&quot;:0.4}" style="transform: translate(0px, 0px); opacity: 1;">
                <div class="bg-holder" style="background-image:url(static/images/reset_password.jpg);">
                    
                  <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
                    <source src="../assets/4" type="video/mp4">
                     </video></div> <!--/.bg-holder-->
              </div>
            </div>
            <div class="col-lg-6 bg-body py-6 py-lg-8">
              <div class="row h-100 flex-center text-center">
                <div class="col-md-10 col-xl-8" data-zanim-timeline="{&quot;delay&quot;:0.4}"><img src="../assets/img/logo/04.jpg" alt="" width="300" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;zoom-in&quot;}" style="filter: blur(0px); opacity: 1; transform: translate(0px, 0px);">
                  <div class="overflow-hidden">
                    <h2 class="my-4" data-countdown="{&quot;date&quot;:&quot;31&quot;,&quot;month&quot;:&quot;dec&quot;,&quot;year&quot;:2024}" data-countdown-fallback="Getting ready" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">Secure Password Reset for Datacenter</h2>
                  </div>
                  <div class="overflow-hidden">
                    <p class="lead" data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;">
                        Quickly and securely reset your access password using our process.
                        <br class="d-none d-sm-block d-lg-none">
                        Follow the steps to regain access to Robert Kayanja DataCenter.</p>
                  </div>
                  <div data-zanim-xs="{&quot;delay&quot;:0.4}" style="transform: translate(0px, 0px); opacity: 1;">
                    <!-- <div class="input-group mb-2 mt-6">
                        <input class="form-control bg-light" type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon3">
                        <button class="btn btn-dark btn-outline-dark text-light px-2 px-sm-3 px-lg-4" id="button-addon3" type="button">notify me</button>
                    </div> -->

                    <form class="mt-5" id="resetForm">
                        <div class="mb-3"><input class="form-control bg-light" type="password" placeholder="Password" id="password"></div>
                        <div class="mb-0"><input class="form-control bg-light" type="password" placeholder="ComfirmPassword" id="comfirmPassword"></div>
                        <div class="mb-3 d-grid"><button class="btn btn-dark mt-3" type="submit" name="submit">Send Request</button></div>
                        <div class="mb-3 w-100 position-relative text-center mt-4">
                          <hr class="text-body-secondary text-opacity-25">
                          
                        </div>
                    
                        </div>
                      </form>

                    <small class="font-secondary">By signing up, you agree to the <a href="#!">Terms of Service</a></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end of .container-->
      </section>
    <script>

      document.addEventListener('DOMContentLoaded', function() {

        const form = document.getElementById("resetForm");

        form.addEventListener("submit", function(event){
          event.preventDefault();
          
        const password = document.getElementById("password").value;
        const comfirmPassword = document.getElementById("comfirmPassword").value;

        if (password !== comfirmPassword){
         alert("Passwords do not match. Try again.")
         return;
        }

        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');
        //console.log('TOKEN:', token);

        reset = {
          new_password:password,
          token:token
        }

        fetch("/reset_password",{
          method:"POST",
          headers:{
            "Content-Type":"application/json",
            "Accept": "application/json"
          },
          body:JSON.stringify(reset)
        }).then((response)=>{
          if (response.status == 200){
            return response.json()
          }else {
            throw new Error('Failed to reset password');
        }
        })
        .then ((datarespo) =>{
          console.log("Password reset was successful");
          console.log(datarespo);
          //location.reload()
          window.location.href = '/dashboard';
        }).catch((error) => console.error(error))
        });

      });
    </script>
</body>
</html>